body {
  background-color: #e8eddf;
  font-family: monospace;
  font-size: 19px;
}

header {
  background-color: #242423;
  text-align: center;
}

header h1 {
  color: #f5cb5c;
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 40px;
}

nav * {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.nav-ul {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.nav-ul li {
  margin: 0 12px;
  transform: translateY(-6px);
}

.nav-ul li a {
  color: #fff;
}

h3 {
  padding-bottom: 15px;
}

.hello {
  font-size: 23px;
  color: #242423;
}

#projects {
  padding-top: 20px;
  padding-bottom: 100px;
}

.intro-wrapper,
.about-wrapper,
.projects-wrapper,
.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.intro-wrapper > *,
.about-wrapper > *,
.projects-wrapper > *,
.contact-wrapper > *,
#projects > h3 {
  width: 90%;
  margin: 20px;
}

.about-wrapper {
  background-color: #cfdbd5;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.projects-wrapper > * {
  width: 90%;
}

.contact-div * {
  margin-right: 0;
  padding: 0;
  width: 100%;
}

.form-input {
  width: 55%;
}

a:link {
  color: #333533;
}
a:visited {
  color: #cfdbd5;
}
a:hover {
  color: #777777;
}
a:active {
  color: #f5cb5c;
}

footer {
  background-color: #242423;
}

footer > * {
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: monospace;
  font-size: 16px;
}

/* Desktop */

@media all and (min-width: 950px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    margin: 0 0 10px 35px;
  }

  .nav-ul {
    margin: 34px 30px 0 0;
  }

  .intro-wrapper,
  .about-wrapper,
  .contact-wrapper {
    flex-direction: row;
  }
}

@media all and (min-width: 1300px) {
  .intro-wrapper,
  .about-wrapper,
  .contact-wrapper {
    padding: 0 18%;
  }

  #projects {
    padding: 0 10%;
  }

  .projects-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* position: relative; */
  }

  .projects-wrapper * {
    width: 100%;
  }
}
