
body {
  background-color: #E8EDDF;
}

header {
  background-color: #242423;
  /*margin-bottom: 40px;
  display: block;*/
}

header h1 {
  color: #F5CB5C;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-family: monospace;
  font-size: 40px;
}

img {
  width: 100%
}

img.rounded {
  border-radius: 8px;
}

h2, p, .hello, h3, a, li {
  color: #242423;
  font-family: monospace;
}

h2, .hello {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

p, a, li {
  font-size: 19px;
}

.title {
  margin: 10px;
}

.small-margin {
  margin: 5px 0px;
}

/* Groups & Items (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

#intro, #about, #project, #contact {
  padding: 20px 0px;
  margin-bottom: 120px;
}

#about {
  background-color: #CFDBD5;
  margin: 120px 0px;
}

a:link {color: #333533;}
a:visited {color: #CFDBD5}
a:hover {color: #777777;}
a:active {color: #F5CB5C;}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  #about {
    padding: 20px 10% 30px 10%;
  }

}

