
body {
  background-color: #E8EDDF;
}

header, footer {
  background-color: #242423;
}

h4 {
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: monospace;
  font-size: 16px;
}

header h1 {
  color: #F5CB5C;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
  font-family: monospace;
  font-size: 40px;
}

img {
  width: 100%
}

img.rounded {
  border-radius: 8px;
}

header nav ul {
  justify-content: center;
  margin: 0;
  padding: 0 0 20px 0;
}

header nav ul li a:link {
  font-family: monospace;
  color: #fff;
  text-decoration: none;
  padding: 0 10px 0 10px;
  font-size: 17px;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  list-style-type: none;
}

h2, p, .hello, h3, a, li, label {
  color: #242423;
  font-family: monospace;
}

h2, .hello {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

p, a, li, label {
  font-size: 19px;
}

.title {
  margin: 10px;
}

.small-margin {
  margin: 5px 0px;
}

textarea, input {
  width: 100%;
  color: #242423;
  font-size: 17px;
  margin-bottom: 25px;
  font-family: monospace;
}

/* Groups & Items (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

#intro, #about, #projects, #contact {
  padding: 20px 0px;
  margin-bottom: 120px;
}

#about {
  background-color: #CFDBD5;
  margin: 120px 0px;
}

a:link {color: #333533;}
a:visited {color: #CFDBD5}
a:hover {color: #777777;}
a:active {color: #F5CB5C;}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  #about {
    padding: 20px 10% 30px 10%;
  }

}

@media all and (min-width: 650px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    padding: 15px 15px 15px 25px;
  }

  header nav ul {
    padding: 26px 13px 25px 25px;
    margin: 0;
  }
}